/*
font-family: 'Fira Sans', sans-serif;
font-family:'Ubuntu', sans-serif;
*/

body {
    margin: 0;
    padding: 0;
    font-family:'Ubuntu', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    color: green;
}

h3 {
    text-align: center;
    padding: 6vh 5vh 5vh;
    margin: 0;
    font-size: 2rem;
}

hr {
    margin: 0 auto;
    width: 40%;
    background-color: green;
    height: 2px;
    border: 0;
}

.general {
    margin: 0;
    padding: 0;
    background-color: rgb(214, 209, 209);
}

/* Header */

header {
    background-color:  rgb(54, 87, 62, 0.6);
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    min-height: 80px;
    padding: 10px 30px;
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
header img {
    width: 15vh;
    min-width: 50px;
    opacity: 0.6;
}
header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header nav ul li{
    list-style-type: none;
    padding: 0 10px;
}
header nav ul li a {
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
}
header a:hover {
    color: rgb(255, 255, 255);
}

/* Beginning */
 
#beginning {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: inherit;
    background-image: url(photos/start-photo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}

#firstPar h1{
    font-size: 4rem;
    text-shadow: 2px 2px black;
    margin-bottom: 40px;

    }

#firstPar h2{
    font-size: 3rem;
    text-shadow: 2px 2px black;
    margin-bottom: 80px;
}

#firstPar a {
    font-size: inherit;
    text-decoration: none;
    background-color: black;
    color:  rgb(167, 236, 167);
    padding: 25px;
    border:  rgb(167, 236, 167) solid 1px;
    border-radius: 10px; 
}

#firstPar a:hover {
    background-color: rgb(167, 236, 167);
    color: black;
    border:  black solid 1px;
    transition-duration: 0.5s;
}

@media(max-width: 800px) {
    #beginning {
        min-height: 600px;
    }
    #firstPar h1{
        font-size: 3rem;
        padding: 0 25px;
        margin-bottom: 50px;
    }
    
    #firstPar h2{
        font-size: 2rem;
        margin-bottom: 120px;
    }
}

/* About tea */

#bodyAbout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 5vh;
}
#photoTeapot {
    margin: 0;
    padding: 0 5vh;    
}
#photoTeapot img {
    height: 40vh;
    min-height: 200px;
}
#textAbout {
    width: 80%;
    padding: 0 7vh;
    line-height: 1.5rem;
}
@media (max-width: 800px) {
    #bodyAbout {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 0;
    }
    #textAbout {
        padding: 5vh;
        font-size: 0.9rem;
    }
}

/* Gallery */

#aboutGallery {
    width: 70%;
    line-height: 1.5rem;
    text-align: center;
    padding: 0 15%;
    margin: 0;
}
#photos {
    margin: 3vh 0;
    padding: 0 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}
.big a img {
    width: 35vw;
    min-width: 250px;
}
.little a img {
    width: 30vw;
    min-width: 250px;
}
.little a, .big a  {
    color: green;
    text-decoration: none;
    text-align: center;
}

/* 2 types of tea */

#aboutTypes {
    width: 70%;
    line-height: 1.5rem;
    text-align: center;
    padding: 0 15%;
    margin: 0;
}
#aboutTwoTypes {
    margin: 30px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
#aboutTwoTypes .col {
    padding: 0 20px;
}
#aboutTwoTypes .col .Dec {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;
}
#aboutTwoTypes .col img {
    width: 10vw;
    min-width: 100px;
}
#aboutTwoTypes .col ul {
    padding: 0;
    line-height: 1.2rem;
}
#aboutTwoTypes .col ul li {
    list-style-type: none;
}
@media (max-width: 800px) {
    #aboutTwoTypes .col:last-child {
        padding-top: 30px;
    }
}

/* Great tea lovers */

#teaLovers {
    width: 100%;
    margin: 0 0 20px;
}
#teaLovers .lover {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
#teaLovers .lover img {
    width: 10vw;
    min-width: 100px;
    border-radius: 50%;
    padding: 20px 20px;
    margin-left: 50px;
}
#teaLovers p{
    margin: 0;
}
#teaLovers .lover .descr {
    width: 50%;
    line-height: 1.5rem;
    padding: 20px 0;
}
#teaLovers .lover .descr span {
    font-weight: bold;
    font-size: 1.2rem;
}
#teaLovers .lover .century {
    width: 70px;
    height: 70px;
    min-width: 70px;
    border: 3px solid rgb(115, 153, 115);
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 100px;
}
@media (max-width: 800px) {
    #teaLovers .lover img {
        margin-left: 0;
    }
    #teaLovers .lover .century {
        margin-right: 10px;
    }
}

/* Tea countries */

#aboutContries {
    width: 70%;
    line-height: 1.5rem;
    text-align: center;
    padding: 0 15%;
    margin: 0;
}
#countriesOnMap {
    width: 85%;
    margin: 30px auto;
}
.country {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}
.country:last-child {
    padding-bottom: 10px;
}
.country iframe {
    width: 40%;
    min-width: 300px;
}
.country p {
    width: 40%;
    text-align: left;
    padding-left: 30px;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

@media (max-width: 800px) {
    .country {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .country p {
        width: 50%;
        text-align: center;
        font-size: 0.8rem;
        padding-left: 0px;
    }
}

/* Tea lovers, unite! */

/* Footer */

footer {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    background-color: black;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, black, rgb(54, 87, 62) 100%);

}
footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}
footer ul li a {
    color: white;
    font-size: 2rem;
    margin: 20px;
    cursor: pointer; 
}
footer p {
    text-transform: uppercase;
    color: inherit;
    font-size: 0.8rem;
    margin-bottom: 10px;
}